body
{
    background-color:#8b9dc3;

}
#abre_panel{
  position: absolute;
  background-image: url(../img/menu_btn.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 20px;
  box-shadow: none;
  background-color: transparent !important;
  border: none;
  top: 0;
  margin-top: 6px !important;
}
#menu
{
  /*background-color: #086A87;*/
  background-color: black;
  color: white;
}
#panel
{
  /*background-color: #086A87;*/
   background-color: black;
}
a{
/*border solid 1px #086A87;*/
border solid 1px black;
color:white;
text-decoration: none;
}
.etiqueta{
 font: oblique bold 110% normal;
}
.caja_texto{
    width:80%;
    height:30px;
    background:transparent;
    border:solid 1px gray;
    text-align:center;
    border-radius:3px;
}

.boton_azul {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #gray;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	width:80%;
}
.boton_azul:active {
	position:relative;
	top:1px;
}
.contenido_inicio{
width:92%;
background-color:white;
border:solid 1px gray;
padding:5px;
text-align:left;
}
.lbl_nombre{
color:blue;
padding:5px;
}
.lbl_datos
{
color:gray;
font-size:12px;
padding-left:40px;
}
.contenido_servicio
{
padding:5px;
font-size:14px;
}
td{
text-align:center;
}
#firma{
background-color:black;
}